#receipt {
  display: none;
}

.well {
  max-width: 400px;
  background-color: lightblue;
}

.jumbotron {
  text-align: center;
  background: rgba(214, 214, 214, 0.5);
}

form {
  max-width: 500px;
}

body {
  background-image: url("../img/8_Pizza.jpg");
  background-size: cover;
}
